html, body, #map-canvas {
	height: 100%;
	margin-top: 0;
	padding: 0;
}

#pac-input {
	width: 200px;
	height: 25px;
}

#pac-button {
	width: 60px;
	height: 25px;
}

#popular_places {
	margin-top: 5px;
	margin-right: 5px;
}

#list_title {
	margin-right: 0px;
}

#place_list {
	background-color: white;
	width: 300px;
	margin-top: 10px;
	margin-right: 5px;
	max-height: 520px;
	overflow: scroll;
}

#each_place {
	margin-left: 10px;
	margin-right: 10px;
}

#setting {
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 45px;
}

#searchBox {
	background-color: orange;
	margin-left: 5px;
	margin-top: 10px;
	padding: 3px 5px;
}

#list_button {
	margin-top: 5px;
	margin-right: 5px; 
}