html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#pac-input {
	width: 200px;
	height: 25px;
}

#pac-button {
	width: 60px;
	height: 25px;
}

#popular_places {
	background-color: white;
	width: 280px;
	margin-top: 20px;
	margin-right: 20px;
}

#list_title {
	margin-bottom: 0px;
}

#place_list {
	max-height: 400px;
	overflow: scroll;
}

#each_place {
	padding-left: 10px;
	padding-right: 0px;
}

#setting {
	margin-left: 20px;
	margin-bottom: 10px;
	border-radius: 45px;
}

#searchBox {
	background-color: orange;
	margin: 10px 0 0 0;
	padding: 3px 5px;
}