html, body, #map-canvas {
	height: 100%;
	margin-top: 0;
	padding: 0;
}

#popular_places {
	margin-top: 5px;
	margin-right: 5px;
	padding-left: 4px;
	padding-right: 4px;
	width: 300px;
	max-height: 80%;
	overflow: scroll;
	background-color: #B3E5FC;
}

#each_place:hover {
	background-color: #81D4FA;
}

#setting {
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 45px;
}

#searchBox {
	margin-top: 5px;
	margin-left: 5px;
	width: 25%;
}

#list_button {
	margin-top: 5px;
	margin-right: 5px;
}